#slide-3-tweet iframe {
    margin-left: 25% !important;
}

img {
    width: 60% !important;
    border: none;
}
.controls .navigate-down {
    display: none !important;
}
.controls .navigate-up {
    display: none !important;
}